* {
  box-sizing: border-box;
}
.list {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d7d7ce;
  color: #212121;
  line-height: 1.5;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.search-form {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  display: flex;
  margin: auto;
}

.name {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 5px;
}
.search-btn {
  width: 100px;
  height: 31px;
  background: rgb(128, 128, 128);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: rgb(210, 178, 178);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #d7d7cc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  border: none;
  box-shadow: none;
  background: #a5a7a8;
  width: 30px;
  border-radius: 0 5px 5px 0;
  padding: 3px;
  margin: 0;
}

.cataloge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.photo-card {
  width: calc((100% - 80px) / 4);
  overflow: hidden;
  background-color: #c0c0ad;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: rgb(210, 178, 178);
}
.image {
  height: 208px;
}

.info {
  display: flex;
}

.info-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  margin-bottom: 10px;
}

.info-item-data {
  ont-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(67, 65, 65);
  margin-bottom: 10px;
}
.load-more {
  width: 200px;
  height: 50px;
  background: rgb(128, 128, 128);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: rgb(210, 178, 178);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #d7d7cc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.load-more :hover,
.load-more :focus {
  background: #e81829;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.button > .spinner.is-hidden {
  display: none;
}
